{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="/static/css/pages/home.css?v=1">
<link rel="stylesheet" href="/static/css/blocks/dictionary-entry.css?v=1">
<link rel="stylesheet" href="/static/css/blocks/content-page.css?v=1">
{% endblock %}

{% block content %}

<section class="content-page">

  <header>
    <span class="dictionary-entry-main">Anicca</span>
    <span class="dictionary-entry-pronunciation">/ə-ˈnɪ-t͡ʃə/</span>
    <span class="dictionary-entry-word-tag">n.</span>
  </header>

  <p>I don't want to suffer anymore. I'm trying to see into my mind, I think that may help me. To me <strong>Anicca</strong> has become very personal, I see it in so many places. It feels so sad to me, yet it makes me want to feel those fleeting moments and feelings ever so intensely.</p>

</section>
{% endblock %}
